<%- include('../partials/head') %>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center vh-100 max-vw-25">
            <div class="border rounded p-5">
                <h6>Join thousands of learners from around the world</h6>
                <p>Master web development by making real-life projects. <br>There are multiple paths for you to choose
                </p>
                <form action="/register" method="POST" class="needs-validation" novalidate>
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" id="username" name="username"
                            aria-describedby="emailHelp" placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please write your email.
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Start coding now</button>
                </form>
                <p>Already a member? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>